doctype html
html
	head
	body
		form(name="input", action="", method="get")
		p First name:
		input(type="text", name="firstname")
		p Last name:
		input(type="text", name="lastname")
		p Email:
		input(type="text", name="email")
		p
		input(type="submit", value="Submit")
	//- script.
 //-      for (var i = 0; i < info.length; i++) {
 //-      if (info[i].firstname === user) {
 //-      console.log("First name: " + info[i].firstname);
 //-      console.log("Last name: " + info[i].lastname);
 //-      console.log("Email: " + info[i].email);
 //-      }
 //-      else if (info[i].lastname === user) {
 //-      console.log("First name: " + info[i].firstname);
 //-      console.log("Last name: " + info[i].lastname);
 //-      console.log("Email: " + info[i].email);
 //-      }
 //-      else {
 //-      console.log ("No match")
 //-      }
 //-      }