html
	head
		title Register
	body
		form(action="/register", method="POST")
			div
				label(for="name") First name: 
				input(name="firstname")
			br
			div
				label(for="name") Last name: 
				input(name="lastname")
			br
			div
				label(for="email") Email: 
				input(name="email")
			br
			button(type="submit") Submit
