include nav
html
	head
		title="Search users"
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	body

		form(action="/search", method="post", autocomplete="off") 
			p Search for name:
			input(type="text" list="suggestion" name="name" id="search")
			datalist(id ="suggestion")
				option(value="" id="suggestion1")
				option(value="" id="suggestion2")
			input(type="submit", value="Search")
			script.
				$(document).ready(function() { //wait for the document to be ready.
					var giveSuggestion = function() { 
						$("#search").keyup(function() { //keyup function, captures when something is typed in the search bar.
						var input = $("#search").val();
							$.post('/suggestion', {input: $("#search").val() }, function (suggestion) { //passing an object which contains one key: "input" and its value: "search"
								if (suggestion[0] !== undefined) {
								document.getElementById("suggestion1").setAttribute("value", suggestion[0].firstname +" "+ suggestion[0].lastname);
								document.getElementById("suggestion2").setAttribute("value", suggestion[1].firstname +" "+ suggestion[1].lastname)
								};
							});
						});
					};
					giveSuggestion();
				});



